:root {
    --bg-primary: #2d095c;
    --bg-secundary: #20366b;
    --bg-optional: #a5acce;
    --bg-body: #eae3e3;
}

*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body{
    font-family: 'Asap Condensed', sans-serif;
}

.contenedor{
    width: 100%;
    background-color: var(--bg-body);
    margin: auto;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

/* TEMPLATES DEL NAVBAR Y EL FOOTER */

                /* HEADER */

.icon-circle-down{
    font-size: 16px;
}

.headerTemplate{
    /* padding: 10px 20px; */
    background-color: var(--bg-primary);
    width: 100%;
    position: fixed;
    z-index: 99;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.headerTemplate .logo{
    padding: 10px 0 10px 20px;
    font-family: 'Lobster', cursive;
}

.logo a{
    text-decoration: none;
    color: white;
    font-size: 26px;
}

.menuIcon{
    margin-right: 20px;
    display: none;
}

.menuIcon img{
    width: 20px;
    line-height: 30px;
}

                    /* NAVBAR */

#navbar .linksNav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
}

.menu > li{
    position: relative;
    display: inline-block;
    list-style: none;
    line-height: 56px;
}

.menu .catego{
    cursor: pointer;
}

.menu li > a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    padding: 0 10px;
}

.submenu{
    position: absolute;
    background-color: var(--bg-primary);
    /* visibility: hidden; */
    display: none;
    width: 100%;
    z-index: 1; 
}

.submenu li{
    list-style: none;
}

.submenu li a{
    display: block;
    padding: 0px 15px;
    color: #fff;
    text-decoration: none;
    /* text-align: center; */
}

.linksNav a:hover{
    background-color: var(--bg-optional);
    color: var(--bg-primary);
}

/* .menu li:hover .submenu{
    display: block;
} */

                /* FOOTER */

footer{
    width: 100%;
    background-color: var(--bg-primary);
    padding: 20px 0 10px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

footer .derechos{
    color: #fff;
    font-size: 16px;
    /* font-weight: bold; */
    width: 100%;
    text-align: center;
}

footer .derechos p{
    font-family: 'Asap Condensed', sans-serif;
}

footer .sociales{
    margin-top: 10px;
}

footer .sociales a{
    color: #fff;
    width: 100%;
}

.sociales a img{
    width: 30px;
}

@media screen and (max-width: 767px){
    /* FOOTER Y NAVBAR */
    .headerTemplate .navbar{
        width: 100%;
        display: none;
    }

    .menuIcon{
        margin-right: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .menu{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
    }

    .menu > li > a{
        display: block;
    }

    .submenu{   
        position: relative;
    }

    .submenu > li a{
        padding-left: 40px;
    }
    
    /* FIN DE FOOTER Y NAVBAR */

}

@media screen and (min-width: 768px){
    /* FOOTER Y NAVBAR */
    .navbar{
        display: -webkit-box!important;
        display: -ms-flexbox!important;
        display: flex!important;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    /* FIN DE FOOTER Y NAVBAR */
    
}

/* FIN DE TEMPLATES DEL NAVBAR Y EL FOOTER */

/* CONTENEDOR DE LOS PRODUCTOS PAG PRINCIPAL */

#contenido{
    width: 90%;
    max-width: 1000px;
    min-height: 550px;
    margin: 53px auto 0;
    padding: 10px 30px;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

#contenido h1{
    width: 100%;
    text-align: center;
    color: rgb(187, 34, 34);
    margin-top: 20px;
    font-family: 'Asap Condensed', sans-serif;
    font-size: 26px;
}

#contenido .producto{
    margin: 30px 2px;
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 32%;
}

#contenido .producto a{
    text-align: center;
}

#contenido .producto img{
    width: 190px;
}

#contenido .producto .infoProduct{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5px 0;
    border-radius: 6px;
    background-color: var(--bg-secundary);
}

#contenido .producto .infoProduct a{
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding-top: 2px;
}

#contenido .producto .infoProduct .iconCart{
    font-size: 24px;
}

@media screen and (max-width: 991px){

    #contenido{
        width: 100%; 
        padding: 10px 30px;
    }
}

@media screen and (max-width: 767px){

    #contenido{
        width: 80%;
    }

    #contenido .producto{
        width: 100%;
    }
}

@media screen and (max-width: 515px){
    #contenido{
        width: 100%;
    }
}

/* FIN CONTENEDOR DE LOS PRODUCTOS PAG PRINCIPAL */

/* CONTENEDOR DE LA PAGINA DE CATEGORIAS */

    .paginacion{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .paginacion > a{
        padding: 5px 7px;
        color: #fff;
        height: 30px;
        text-decoration: none;
        background-color: rgb(187, 34, 34);
        margin: 3px 3px 10px 3px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
}

/* FIN DEL CONTENEDOR DE LA PAGINA DE CATEGORIAS */

/* CONTENEDOR DE LA PAGINA DE CONTACTO */

.contacto{
    background-color: var(--bg-secundary);
    padding: 20px 30px;
    margin: 20px 0;
    width: 35%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.contacto > form{
    display: flex;
    flex-direction: column;
}

.contacto .formContacto >label{
    font-size: 18px;
    color: #fff;
    font-family: 'Asap Condensed', sans-serif;
    margin: 10px 0 10px 5px;
}

.contacto .formContacto >input[type="text"],
.contacto .formContacto > textarea{
    background-color: #fff;
    padding: 6px;
    font-size: 16px;
    resize: none;
    border-radius: 3px;
    font-family: 'Asap Condensed', sans-serif;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.contacto .formContacto > input[type="submit"]{
    background-color: rgb(187, 34, 34);
    color: #fff;
    font-size: 16px;
    font-family: 'Asap Condensed', sans-serif;
    border: none;
    padding: 10px;
    margin-top: 15px;
}

.mapa{
    width: 60%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mapa iframe{
    border: 4px solid var(--bg-secundary);
    margin-bottom: 10px;
}

.mapa .infoContacto{
    /* background-color: var(--bg-secundary); */
}

.mapa .infoContacto > p{
    padding: 4px 0;
    font-family: 'Asap Condensed', sans-serif;

}


@media screen and (max-width: 880px){
    #contenido .contacto{
        width: 80%;
    }
    
    #contenido .mapa{
        width: 80%;
    }
}
@media screen and (max-width: 767px){
    #contenido .contacto{
        width: 100%;
    }

    #contenido .mapa{
        width: 100%;
    }
}

/* FIN DE CONTENEDOR DE LA PAGINA DE CONTACTO */

/* ESTILOS DEL LOGIN */

.sectionsLogin{
    background-color: #fff;
}

.headerLogin{
    width: 100%;
    display: flex;
    background-color: #fff;
}

.headerLogin > .active{
    background-color: var(--bg-optional);
}

.headerLogin > a{
    width: 50%;
    text-align: center;
    font-size: 18px;
    color: #000;
    text-decoration: none;
    padding: 15px;
    border: 1px solid var(--bg-secundary);
}

.login{
    width: 100%;
    padding: 20px 30px;
}

.login > form > input,
.newAccount > form > input{
    font-size: 15px;
    padding: 12px;
    margin: 8px 0;
    color: var(--bg-primary);
    border: 1px solid rgb(121, 120, 120);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.sectionsLogin input[type="submit"]{
    background-color: var(--bg-primary);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.input100{
    width: 100%;
}

.input50{
    width: 49%;
}

.newAccount{
    width: 100%;
    padding: 20px 30px;
    display: none;
}

.sectionsLogin form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* FIN DE ESTILOS LOGIN */